* {
    margin: 0;
    padding: 0;
    font-family: 'Special Elite', cursive;
    color: rgb(44, 91, 122);
}

button {
    padding: 7px;
    border-radius: 3px;
    background-color: #f54c4c;
    color: white;
    border: none;
    &:hover {
        cursor: pointer;
        background-color: #f59191;
    }
}

